/* ------ Native Galary and Main Setup ------ */

.black_bar {
    background-color: black;
    height: 75px;
    width: 100%;
}

#tabs-1, #tabs-2 {
    height: 100%;
    text-align: center;
    background-color: #cbcbcb;
}

#tabs-3 {
    height: 800px;
}

.grid_box {
    height: 500px;
    width: 327px;
    display: inline-block;
    border: 3px ridge #8e8e8e;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: justify;
    padding: 0 10px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
    color: #c6c6c6;
}


.gallery_buttons {
    margin-left: 14%;
    margin-top: -10px;
    display: inline-block;
}



/* ------ Native Editor ------ */

hr {
    margin: 15px 0;
}


input {
    display: inline-block; 
    width: 150px;
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 5px;
}
.box_left {
    display: inline-block;
    width: 370px;
    height: 800px;
    border: 3px ridge #8e8e8e;
    text-align: justify;
    position: relative;
    top: -60px;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
}

.box_middle {
    display: inline-block;
    width: 350px;
    border: 3px ridge #8e8e8e;
    height: 600px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 20px;
    position: relative;
    top: -100px;
    color: #cccccc;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}


.box_right {
    font-size: 10px;
    width: 370px;
    height: 800px;
    word-wrap: break-word;
    border: 3px ridge #8e8e8e;
    display: inline-block;
    overflow-y: auto;
    text-align: justify;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
}

/* ------ Icons ------- */

.ion-information-circled {
    margin-right: 4px;
    color: black; 
    float: left;
    background-color: white;
}


/* ------ Passback Helper ------ */

.type_box {
    margin: 20px 0;
}

.controlBox {
    height: 500px;
    width: 500px; 
    border: 1px solid black;
    display: inline-block; 
    box-sizing: border-box; 
    position: absolute; 
    padding: 20px;
}


.tagOutput {
    height: 500px;
    width: 500px; 
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 600px; 
    padding: 20px;
}

