/* ------ Native Galary and Main Setup ------ */

.black_bar {
    background-color: black;
    height: 75px;
    width: 100%;
}

#tabs-1 {
    height: 100%;
    text-align: center;
    background-color: #cbcbcb;
}

.grid_box {
    height: 500px;
    width: 327px;
    display: inline-block;
    border: 3px ridge #8e8e8e;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: justify;
    padding: 0 10px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
    color: #c6c6c6;
}

.gallery_buttons {
    margin-left: 14%;
    margin-top: -10px;
    display: inline-block;
}



/* ------ Native Editor ------ */



.blue_top {
    background-color: #416BC4;
    height: 50px;
}

.blue_bot {
    background-color: #416BC4;
    height: 50px;
    clear: both;
}





input {
    display: inline-block; 
}
.box_left {
    display: inline-block;
    width: 370px;
    height: 800px;
    border: 3px groove #416BC4;
    text-align: justify;
    position: relative;
    top: -150px;
    padding: 15px;
    box-sizing: border-box;
}

.box_middle {
    display: inline-block;
    width: 350px;
    border: 3px groove #416BC4;
    height: 600px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0 20px;
    position: relative;
    top: -100px;
    color: #cccccc;
}


.box_right {
    font-size: 10px;
    width: 370px;
    height: 800px;
    word-wrap: break-word;
    border: 3px groove #416BC4;
    display: inline-block;
    overflow-y: auto;
    text-align: justify;
    padding: 5px;
    box-sizing: border-box;
}

.ion-information-circled {
    display: inline; 
    margin-right: 4px;
}

input {
    width: 150px;
}
